<section id="coin-detail" data-transition="slide">
	<header id = "crypto-header">
		<nav class="left">
			<a href="#back" data-view-section="back"><span class="icon chevron-left"></span></a>
		</nav><h1 class="title centered">Coins in Wallet</h1>
	</header>
	<article id="coin-detail-art" class="active list scroll">
		<div id = "coin-det2" class = "wrapper bg_white framed">
			<div id = 'logo_coin'>
				<img id = "coin-det"></img>
				<h2 id="my_title">COIN</h2></br></br>
			</div>
			<div>
				<table cellpadding="0" cellspacing="0" style="margin-top:5px; font-size:11px;">
					<tbody>
						<tr>
							<td id = 'my_labels' colspan="2" class="point2" style="text-align:center"><span id = 'my_value2'>1 LTC = 0 BTC</span></td>
						</tr>
						<tr>
							<td id = 'my_labels' colspan="2" class="point2" style="text-align:center">&nbsp;</td>
						</tr>
						<tr>
							<td id = 'my_labels' colspan="2" class="point2" style="text-align:center"><span id = "mi_calendario"> Last Update: </span><span id = 'my_date_icon' data-icon="calendar"></span><span id = 'my_date'>
							</span><span id = 'my_date_icon' data-icon="time"></span><span id = 'my_time'></span></td>
						</tr>
						<tr>
							<td id = 'my_labels' colspan="2" class="point2" style="text-align:center">&nbsp;</td>
						</tr>

						<tr>
							<td id = 'my_labels' class="point2" style="padding-right:10px">Bitcoins (฿)</td>
							<td class="point2"><span id = 'my_bitcoins'>0</span></td>
						</tr>
						<tr>
							<td id = 'my_labels' class="point2" style="padding-right:10px">Euros (€)</td>
							<td class="point2"><span id = 'my_euros'>0</span></td>
						</tr>
						<tr>
							<td id = 'my_labels' class="point2" style="padding-right:10px">Dollars ($)</td>
							<td class="point2"><span id = 'my_dollars'>0</span></td>
						</tr>
					</tbody>
				</table>
			</div>
     		<div class="form" id="form2">
				<fieldset>
					<label id = 'cantidad_moneda'>Coins</label>
					<input type="number" id = 'my_coins' onkeypress="return isNumberKey(event)" class="align_right">
				</fieldset>
			</div>
			<div id = "link_forum">
				<a href='#' onclick="window.open(this.href,'_system'); return false;" id = 'my_more_info2' class="margin_right" data-icon="tag">View More Info</a>
			</div>
		</div>
	</article>
</section>